$container: rgba(102, 119, 86, 1);

@mixin text-stroke() {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.icon {
  width: 150px;
  height: 150px;
  filter: drop-shadow(6px 4px 6px rgba(0, 0, 0, 0.25));
}

#page2{
  //top: 900px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $primary;


  #text2{
    text-align: right;
    padding: 50px 250px 0 0;
    color: white;
    font-size: 64px;
    font-weight: 700;
  }

  #feature-container{
    //position: fixed;
    padding: 80px 50px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;

    width: 100%;
    height: 400px;

    column-gap: 20px;

    @for $x from 1 to 4
    {
      #feat#{$x}
      {
        margin-right: 30px;
        width: 310px;
        height: 390px;
        background-color: $container;
        border: 1px solid #000000;
        box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 22px;

        display: flex;
        flex-direction: column;
        align-items: center;

        color: white;

        h3{
          margin-top: 0;
          font-size: 25px;
          font-weight: 800;
          @include text-stroke();
        }

        p {
          padding: 0;
          margin: 50px 30px;
          font-size: 20px;
        }
      }
    }
  }
}


